[Desktop Entry]
Encoding=UTF-8
Name=Link to TTi MX100TP triple power supply teardown and review - Page 1
Type=Link
URL=http://www.eevblog.com/forum/testgear/tti-mx100tp-triple-power-supply-teardown-and-review/
Icon=text-html
